:root {
  --verde1: #00BC97;
  --verde2: #1ad5b0;
  --verdeClaro: #20f0c8;
  /*  */
  --lila: #ff45cd;
  /*  */
  --oscurito:#263238;
  /* Set neon color */
  --neon-text-color: #20f0c8;
  --neon-border-color: #ff45cd;
  /* Nuevo */
  --fondoOscuro: #232740;/*#292e51; #2d3352;*/
  --fondoOscurodARK: #1a1f35;
  --fondoOscuroClaro: #4C5686;
  --verdeBeix: #bde3e6;
  --blanquino: #363e3cc4;
  --footerCol:#151A2F;
  --lighterFondo: #6C76AB;
}


@font-face {
  font-family: 'Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background: var(--fondoOscuro);
  color: #FBFBFB;
  font: 400 1.1rem Mono, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5 {
  font-weight: 700;
}
a {
  text-decoration: none !important;
  font: 400 15px Mono, sans-serif;
}
a, a:visited {
  color: var(--lila);
  text-decoration: none;
  transition: all 0.3s ease;

}
a:hover {
  text-shadow:  0px 2px 7px;
}
.unselectable {
  user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.mapaEspana {
  padding-top: 0 !important;
}
.content {
  margin: auto;
  max-width: 1260px;
  padding: 0px 80px;
  margin-top: 5vh;
}
.content-big {
  max-width: 1400px;
  margin: auto;
}
.entrelineado {
  border-width: 2.4px;
  padding: 30px;
  margin: auto;
  font-size: 1.2rem;

  border-style: dashed none dashed none;

}
.linea-lila {
   border-color: var(--lila);
}
.center {
  text-align: center;
}
span {

}
li {
  margin-top: 10px;
}
p {
  line-height: 180%;
  font-weight: normal;
  letter-spacing: 0.5px;
}
b, strong {
  color: #FBFBFB;

}


.boton-lila {
  margin: auto;
  font-weight: 530;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #ffffff !important;
  background: var(--verde1);
  border-radius: 3px;
  box-shadow: 6px 6px var(--lila);

}
.boton-lila:hover {
  text-shadow: none !important;
  box-shadow: 16px 16px var(--lila);
  padding: 16px 35px;
}
#services {
  margin-top: 80px;
  margin-bottom: 20vh;
}
#services > div > div h3 {
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  max-width: 280px;
  margin: auto;
  margin-top: 28px;

}
.servicesContent>div {
  margin: 10px;
  margin-top: 40px;
  display: inline-table;
  padding: 24px;
}
.svg {
  fill:var(--verdeClaro);
  transition: all 0.3s ease;
}
.svg:hover {
  fill:var(--lila);
  filter: drop-shadow(0px 2px 13px var(--lila));

}
.app-svg {
  display: flex;
  max-width: 300px;
}
.app-svg>svg:nth-child(2) {
  float: left;
  width: 300px;
}
.app-svg>svg:nth-child(1), .app-svg>svg:nth-child(3) {
  position: ;
  width: 40px;
  max-height: 50px;

}
.app-svg>svg:nth-child(1) {
  transform: scale(4) rotate(-25deg) translateY(31px) translateX(-16px);
}
.app-svg>svg:nth-child(3) {
  transform: scale(4) rotate(25deg) translateY(33px) translateX(16px);;
}
.down-60 {
  margin-top: 80px !important;
}

/* COLLAPSABLE */
.collapsible {
  cursor: pointer;
  padding: 13px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.3rem;
  padding-top: 8px;
  padding-bottom: 5px;
}

.active, .collapsible:hover {
}

.collapsible:after {
  content: '\002B';
  color: var(--verdeBeix);
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 2rem;
  margin-top: -10px;
  transition: all 0.4s ease;
}

.active:after {
  transform: rotate(135deg);
}

.contentCollapsable {
  padding: 0 13px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*  */
/* GRIDS */
.borde-linear{
  border-width: 2.4px;
  margin: auto;
  border-style: dashed ;
  transition: all 0.3s ease;
}
.lila-on-hover:hover {
  border-color: var(--lila);
}
.divided-1-3 {
  width: 33.3%;
}
.divided-1-2 {
  width: 40%;
  padding: 5%;
}
.divided-1-1 {
  width: 90%;
  padding: 5%;
}
/*  */
.boton-sencillo {
  padding: 10px 30px;
  font-size: 1.2rem;
  text-align: center;
  color: var(--verdeBeix) !important;
  transition: all 0.8s ease;
}
.boton-sencillo:hover {
  border: solid 2.4px var(--lila);
  color: var(--lila) !important;
}
.inlined {
  display: inline-block;
}
.inlined >* {
  float: left;
}
.down-40 {
  margin-top: 40px !important;
}


/* MENU */
.menu {

    z-index: 99999;
    position: fixed;
    background: var(--fondoOscuro);
    left: 0;
    top: 55px;
    height: 100%;
    padding: 7vw;
    /* box-shadow: 20px 4px 20px 4px #2d3352; */
    transition: all 0.4s ease;
    transform: translateX(-100vw);
    border-width: 2.4px;
    margin: auto;
    border-style: dashed;
    border-top: dashed 2.4px;
    border-left: 0;

}
.menu-open {
    transform: translateX(0px);
}

.fixed {
  z-index: 9999999 !important;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(90vw);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 14%);
}
.bocata-help, .info-bocata{
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  padding-top: 10px;
  max-width: 400px;
  border-radius: 30px 30px 30px 0px;
  margin-top: 50px;

}
#ayudaMenu {
  transition: all 0.4s ease;
}
.bocata-help > div > h5 {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}
.bocata-help > div>a> img {
  width: 40px;
  margin: auto;
}
.bocata-help > h5> span  {
  color: var(--lila);
}
.alert {
  padding: 50px;
  background-color: var(--verde1);
  color: white;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}
.containAlert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  display: flex;
  width: 100%;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.whatsappHeader {
  display: flex;
  float: right;
  margin: auto;
  margin-right: 40px;
  color: #ffffff !important;

}
.whatsappHeader span {
  margin: auto;
  margin-left: 10px;
}
.whatsappHeader svg{
  height: 30px !important;
  fill: var(--verdeClaro);
  width: auto;
}
.bocata-help > div> a {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
.bocata-help > div>a> span {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.listado-menu a{
  font-size: 1.6rem;
  color: var(--verdeBeix);
}

.svg {
  max-width: 200px;
  margin: auto;
  height: 100% !important;
}
.griuped {
  margin-top: 2vh;
}

.plano {
  background: #1A1E33;
  padding-top:1px;
}




/* ANIMATION */
.slideanim {
  transform: translateY(200px) scale(0.5);
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  transform: translateY(0px) scale(1);
  z-index: 700;
}
@keyframes slide {
  0% {
    transform: translateY(200px) scale(0.5);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translateY(200px) scale(0.5);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}


footer {
  background: var(--footerCol);
  padding: 5%;
  margin: 0;
  width: 90%;
  font-weight: lighter;
  display: inline-block;
  flex-wrap: wrap;
  padding-top: 10vh;
}
footer p> span {
  color: var(--lila);
  font-weight: bold;
}


.neonhover:hover {
  text-shadow: var(--lila) 0px 2px 7px;
}
nav {
  display: flex;
  padding: 4px 5%;
  background: #2D3352;
}
img {
  width: 100%;
  height: auto;
}


.bigger {
  width: 70%;
}
.inputs-forms-divided {
  display: inline-block;
}
.inputs-forms-divided >div {
  float: left;
  width: 50%;
}
.color-lila {
  color: var(--lila);
}
.titleBigger {
  font-size: 2rem;
}
#contacto {
  width: 90%;
  margin: auto;
  display: flex;
  max-width: 1100px;
  padding-top: 5vh;

}
#contacto>div {
  display: table-cell; /* Make elements inside the container behave like table cells */
}
.formulario {
  width: 75%;
  background: var(--fondoOscuroClaro);
  padding: 40px;
  border-radius: 0px 40px 40px 0px;
  padding-bottom: 70px;
}
.lado-form {
 width: 25% ;
 background: var(--verde1);
 float: left;
 color: #ffffff !important;
 padding: 30px;
 border-radius: 40px 0px 0px 40px;
 font-weight: normal;
 min-width: 200px;


}
.quoted {
  opacity: 0.2;
  margin-left: 0;
}
.quoted >img {
  margin-left: 0;
  width: 60%;
}
.cita-form {
  color: var(--blanquino);
}


.form-title {
  font-size: 3.6rem;
  color: #ffffff;
  padding: 20px;
  padding-top: 0px;
  font-weight: 600;
  margin: inherit;
}
.contieneFormulario {
  margin: auto;
  width: 100%;
  display: flex;
}
textarea, input {
  outline: none;
  width: 90%;
  border: none;
  background: none;

}
.form-input {
    margin-top: 22px;
}
.form-input input{
  border-bottom: solid 2px #ffffff;
  font: 400 1rem Mono, sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  padding-bottom: 9px;
}
.form-input input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E5FFFA;
  opacity: 1; /* Firefox */
}

.checkbox {
  display: inline-block;
}
.checkbox>* {
  float: left;
  width: auto;
}

.contienecheckandbutton {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}
.checkbox{
  float: left;

}
.btn-form  {
  float: right;

}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.btn-form-b{
  background: var(--lila);
  color: #ffffff;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1.3rem;
  margin-right: 10px;
}


.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-check > a {
  color: var(--lila);
  opacity: 0.7;
}
.by-quote {
  color: var(--blanquino);
  width: 100% !important;
  float: right;
  font-size: 16px;
  text-align: right;
  margin-top: 25px;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #e0f9f4;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox {
  margin-right: 0;
}
.titulos {
  width: 100%;
  text-align: center;
}
.titulos h3 {
  font-weight: normal !important;
}
.tituloParrafo{
  font-size: 2rem !important;
}
.phone-img {
  /* height: 100%; */
}
.hamb-menu {
  margin-top: 7px !important;
}
.hamb-menu>span {
  height: 4px !important;
  background: var(--verdeBeix) !important;
}
.open >span {
  background: var(--lila) !important;
}
.android-helper {
  position: absolute;
  left: 0%;
  width: auto !important;
  display: flex;
  transform: translateX(-100%) translateY(100%) rotate(0deg);
  transition: all 0.6s ease;
  margin-top: 60px;

}
.appear {
  transform: translateX(-50%) translateY(100%) rotate(28deg) scale(1.2);
  transition: all 0.6s ease;

}
.all {
  width: 100%;
}
.opaco {
  opacity: 0;
  transition: all
}
.android-helper > img {
  width: 140px !important;
  height: 100%;


}
svg {
  height: 100% !important;
}
.hamb-menu>span, .hamb-menu{
   -moz-user-select: none !important;
   -webkit-user-select: none !important;
   -ms-user-select: none !important;
   user-select: none !important;
}
.titleEspana {
  margin-left: 5%;
}
.contieneBotonesPais {
  flex-wrap: wrap;
  padding-top: 0 !important;
}
.contieneBotonesPais > a {
  float: left;
  width: 30%;
  margin: 15px;
}
.titleSubtitle {
  text-align: left;
  margin: auto;
  padding-right: 0 !important;
  width: 50% !important;

}

.titleSubtitle h1 {
  font-size: 2rem;
  letter-spacing: 2px;
}

.titleSubtitle p, .titleSubtitle span{
  font-size: 1.2rem;

}
.cabezera  span {
  font-size: 2rem !important;
  color: var(--verde2) !important;
}
.titleSubtitle > a {
  margin-top: 200px;
}
.first {
  margin-top: 60px;
}
.top10 {
  margin-top: 10vh;
}
.contieneWhatsapp-form {
  margin: auto;
  display: flex;
}
.contieneWhatsapp-form > * {
  margin-top: auto;
  margin-bottom: auto;
  float:left;
  color: #ffffff;
  text-decoration: underline;

}
.contieneWhatsapp-form span {
  margin-left: 10px;
  font-size: 1.1rem;
}
.contieneWhatsapp-form  svg{
  width: 100%;
  max-width: 40px;
  height: auto;
  fill: #ffffff;
}
.cenet {
  text-align: center;
}

.portfolio-element ul {
  font-weight: normal;
  padding-left: 18px;
}
.portfolio-element li {
  margin-top: 20px;
}
.portfolio-element {
  padding: 10vh 0vh 10vh 0vh;
}

.portfolio-element>.divided {
  max-width: 1200px;
  margin: auto;
}

.collblanc {
  transform: scale(1.5);
}
.titlePortfolio {
  font-size: 1.7rem;
}
.subtitle-portfolio {
  font-size: 1.3rem;
  font-weight: normal;
}
#portfolio {
  margin-top: 10vh;
}
#collblanc {
  background: #4152B4;
  color: #ffffff;
  margin-top: 0;
  padding-top: 0;

}
.tituloPortfolio {
  background: #ff6666;;
  margin: 0;
  font-size: 2rem;
  color: #060606;
  padding-top: 400px;
  margin-top: -400px;
  font-weight: bold;
}
#vuitntas {
  background: #ff6666;
  color: #060606;
}
#dipper {
  background: #151b22;
  color: #ffffff;
  padding: 21vh 0;

}
#proceso p{
  font-weight: normal;
}
.textproceso {
  margin-top: 8vh;
}
.content-proceso {
  padding: 50px;
  display: inline-block;
  text-align: center;
}
.contienetitlePasos {
  padding: 50px;
}
.content-proceso > svg {
  fill: var(--verdeClaro);
  transition: all 0.4s ease;
  max-width: 200px;
  margin: auto;
  margin-bottom: 30px;
}
.content-proceso:hover > svg {
  fill: var(--lila);
  filter: drop-shadow(0px 2px 13px var(--lila));
}
.contienetitlePasos h3 {
  font-size: 2rem;
}
.contienetitlePasos h4 {
  font-size: 1.4rem;
}

#presupuesto {
  width: 90%;
  margin: auto;
  display: flex;
  max-width: 1100px;
  padding-top: 5vh;
  margin-bottom: 5vh;

}
#presupuesto>div {
  display: table-cell; /* Make elements inside the container behave like table cells */
  width: 50%;
}
#presupuesto> .formulario {
  width: 50%;
  background: var(--verde1);
}
#presupuesto >.lado-form {
  background: var(--fondoOscuroClaro);
  border-radius: 0px 40px 40px 0px;

}
#presupuesto > .formulario {
  color: #ffffff;
  font-weight: normal;
  border-radius: 40px 0px 0px 40px;

}
.title-presupuesto {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
}
.title-presu {
  font-size: 1.7rem;
}
.title-presupuesto {
  font-size: 1.4rem;
}
.desc-form >span {
  color: var(--lila);
  font-weight: bold;
}
.desc-form {
  color: #cffcff;
}
.content-proceso  > svg {
  max-width: 150px;
}
.coniteneimg-form {
  width: 100%;
  display: flex;
  padding-top: 50px;

}
.coniteneimg-form >img {
  margin: auto;
  max-width: 400px;
  min-width: 200px;
  width: 86%;
}
#presupuesto {
  margin-top: 0;
}
.presupuestoAll {
  background: var(--fondoOscurodARK);
}
.logo-max {
  max-height: 38px;
  width: auto;
  margin-top: 6px;
}
.flex {
  display: flex;
}
.flex > img {
  height: auto;
  margin: auto;
}
.ionosCol {
  float: right;
  max-width: 150px;
  margin: 30px;
}
.righted {
  float: right !important;
}
.columnafooter > h5 {
  font-size: 1.2rem;
}
.columnafooter ul{
  list-style: none;
}
.columnafooter ul > li> a {
  color: var(--verdeBeix);
}
.columnafooter ul>li{
  list-style: disc;
}
.numbered {
  list-style: decimal;
}
.footercolumnas {
  width: 100%;
  display: inline-block;
}
.columnafooter {
  float: left;
  margin-left: 20px ;
}
.love {
  margin: 50px 0px 20px 0px;
}
.titlePortfolio {
  margin-top: 0;
}
.lilaForm {
  font-weight: bold;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}
.portfolio-element {
}
.contieneLove {
  float: left;
  width: 100%;
  text-align: center;
  /* max-width: 1200px; */
  margin-top:  20px;
  margin: auto;
}


.separador {
  width: 0;
  height: 0;
  border-bottom: 180px solid #4152B4;
  border-right: 100vw solid transparent;
  margin-top: -200px;
}
.separadorDipper {
  width: 0;
  height: 0;
  border-bottom: 80px solid #151b22;
  border-left: 100vw solid transparent;
  margin-top: -150px;
}
.contact {
  color: #ffffff !important;
  font-weight: bold;
  float: right;
  margin-right: 0;
  background: var(--verde1);
  padding: 10px 30px;
  border-radius: 3px;
  display: flex;
  margin: auto;
}
.contact a {
  color: #ffffff;
  margin: auto;
}
.cabezera {
  background-image: linear-gradient(to bottom, rgb(6 6 6 / 58%), rgb(0 0 0)), url(/fondos/fondo.webp);
  background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
    padding-top: 0px;
    padding-bottom: 60px;
}
.contieneImagenSeparador {
  width: 100%;
  display: flex;
}
.separadorCabezera img{
  margin: auto;

  margin-bottom: -10px;
  max-width: 1200px;
  height: 100%;
}
.contieneBotonLila {
  width: 100%;
  /* display: flex; */
  /* margin-top: -10vh; */
}
.noPadding > .divided-1-2 {
  padding: 0;
  padding-top: 80px;
}
.imgCabezera {
  padding-top: 5% !important;
}
.subtitul {
  width: 90%;
  margin: auto;
  max-width: 900px;
}
ul, li {
  font-weight: normal;
}
.contieneServicios {

  margin: 0 auto;
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
      grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-auto-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  padding-top: 60px;
  grid-gap: 15px;
}

.contieneServiciosInd>h4 {
  text-decoration: underline;
}
.imagenServicio {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  height: 100px;
  display: flex;
}
.imagenServicio IMG {
  height: 100%;
  width: auto;
  margin: auto;
}
.servicio {
  margin: auto;
  background: var(--lighterFondo);
  color: #ffffff;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  max-width: 320px;

}
.ionosservice {
  width: 100% !important;
  height: auto !important;
}
.listado {
  padding-inline-start: 0;
  list-style: none;
}
.contieneServiciosInd {
  padding: 20px;
}
.top30 {
  margin-top: 30vh;
}
.topped {
  margin-top: 100px;
}
.padded {
  padding: 5%;
  max-width: 1400px;
}
.reverseHard {
  flex-direction: row-reverse;

}
.imgCabezera>img {
  transform: scale(0.8);
}
.contactB, .contact {
  display: flex;
  width: auto;
}

.contactB a {
  margin: auto;
  margin-left: 0;
  margin-right: 10px;
  color: #ffffff !important;

}
.contact {
  margin-right: 0;
}
.contactar_desarrollo_apps {
  display: flex;
    margin-right: 0 !important;
    float: right;
    right: 0;
    margin: auto;
}


@media only screen and (min-width: 700px) {
  .contieneClientela {
    background: #ffffff;
  }

  .contieneClientes {
    display: flex;
    display: flex;
    padding: 80px;
  }
  .contiene_trust {
    margin: auto;
    float: left;
  }
  .contieneClientes img {
    max-height: 60px;
    width: auto;
  }
  .reverse {
    flex-direction: row-reverse;

  }

}


@media only screen and (max-width: 750px) {
  .imgCabezera>img {
    transform: scale(0.8);

  }
  .contact {
    display: none;
  }
  .content {
    padding: 0px 14px;
  }
}
@media only screen and (max-width: 700px) {
  .reverseOnPhone {
    flex-direction: column-reverse;
    padding-top: 6vh;
 }
 .noTopMob {
   padding-top: 0px !important;
 }
  .contieneServicios {
    display: flex;
    flex-wrap: wrap;
  }
  .top30 {
    margin-top: 10vh;
  }
  .contieneBotonLila {
    margin-top: 0px;
  }
  .content-proceso {
    padding: 0px;
    margin-top: 10vh;
  }
  .content-proceso:nth-child(1){
    padding: 0px;
    margin-top: 5vh;

  }
  .contienetitlePasos {
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .divided {
    display: flex;
    flex-wrap: wrap;
  }
  .divided >* {
    width: 100% !important;
  }
  .bigger {
    width: 100% !important;
  }
  .content-big {
    padding: 0px 5vw;
  }
  #contacto {
    width: 90% !important;
  }
  .form-title {
    font-size: 2rem !important;
    text-align: center;
  }
  .formulario {
    border-radius:  40px ;
    padding: 30px;
    padding-bottom: 50px;
    margin: auto;
    width: 95%;
  }
  #contacto > .lado-form, #presupuesto > .formulario  {
    display: none;
  }
  #presupuesto > .lado-form {
    width: 100%;
    border-radius: 40px;
  }
  .form-input {
    width: 100% !important;
    margin: auto;
    margin-top: 50px !important;
  }
  .agranda-en-pe {
    width: 100%;
    padding: 0;
  }
  .bocata-help {
    padding: 8px;
    padding-bottom: 30px;
  }
  .contieneBotonesPais {
    display: flex;

  }
  .contieneBotonesPais > a {
    float: left;
    width: 100%;
    margin: 10px;

  }
  .textproceso {
    margin-top: 0;
  }
  #proceso > div:nth-child(even)>div{
    margin-top: 5vh;
    flex-direction: column-reverse;
  }
  .tituloPortfolio {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ionosCol {
    margin: auto;
    float: none;
    margin-top: 20px;
    max-width: 100px !important;
  }
  .righted {
    float: left !important;
    width: auto;
    margin-left: 0px;
    display: flex;
  }
  .columnafooter {
    width: 100%;
  }
  .ionosCol >img {
    max-width: 400px;
  }
  .footercolumnas {
    padding: 0 !important;
  }
  .love {
    text-align: center;
  }
  .contiene_trust {
    width: 200px;
    display: flex;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    margin: 20px;
    float: left;
    max-height: 50px;
  }
  .contiene_trust > img {
    margin: auto;
    height: 100%;
    width: auto;
  }
  .contieneClientes {
    display: -webkit-box;
    overflow-x: scroll;
    scrollbar-width: none !important;

  }
  .reverse {
    flex-direction: inherit;
  }


}
