:root {
  --verde1: #00BC97;
  --verde2: #1ad5b0;
  --verdeClaro: #20f0c8;
  /*  */
  --lila: #ff45cd;
  /*  */
  --oscurito:#263238;
  /* Set neon color */
  --neon-text-color: #20f0c8;
  --neon-border-color: #ff45cd;
  /* Nuevo */
  --fondoOscuro: #232840;
  --fondoOscurodARK: #1a1f35;
  --verdeBeix: #A3CACD;
}


@font-face {
  font-family: 'Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--fondoOscuro);
  color: var(--verdeBeix);
  font: 400 1rem Mono, sans-serif;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5 {
  font-weight: 500;
}
a {
  text-decoration: none !important;
  font: 400 15px Mono, sans-serif;
}
a:visited {
  color: inherit;
  text-decoration: none;
  
}
.content {
  margin: auto;
  max-width: 1000px;
  padding: 0px 50px;
  margin-top: 5vh;
}
.entrelineado {
  border-width: 2.4px;
  padding: 30px;
  margin: auto;
  font-size: 1.2rem;
  border-style: dashed none dashed none;

}
.linea-lila {
   border-color: var(--lila);
}
.center {
  text-align: center;
}
p {
  line-height: 180%;
}


/* COLLAPSABLE */
.collapsible {
  cursor: pointer;
  padding: 13px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.3rem;
}

.active, .collapsible:hover {
}

.collapsible:after {
  content: '\002B';
  color: var(--verdeBeix);
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 2rem;
  margin-top: -10px;
  transition: all 0.4s ease;
}

.active:after {
  transform: rotate(135deg);
}

.contentCollapsable {
  padding: 0 13px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*  */
/* GRIDS */
.borde-linear{
  border-width: 2.4px;
  margin: auto;
  border-style: dashed ;
  transition: all 0.3s ease;
}
.lila-on-hover:hover {
  border-color: var(--lila);
}
.divided-1-3 {
  width: 33.3%;
}
.divided-1-2 {
  width: 40%;
  padding: 5%;
}
/*  */
.boton-sencillo {
  padding: 10px 30px;
  font-size: 1.2rem;
  text-align: center;
}
.inlined {
  display: inline-block;
}
.inlined >* {
  float: left;
}
.down-40 {
  margin-top: 40px;
}


/* ANIMATION */
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
footer {
  background: var(--fondoOscurodARK);
  padding: 5%;
  margin: 0;
  width: 90%;
  margin-top: 30vh;
  font-weight: lighter;
}
footer p> span {
  color: var(--lila);
  font-weight: bold;
}
.contact {
  color: var(--lila);
  font-weight: bold;
  float: right;
  margin: auto;
  margin-right: 0;
}
.neonhover:hover {
  text-shadow: var(--lila) 0px 2px 7px;
}
nav {
  display: flex;
  width: calc(90%-4px);
  padding: 4px 5%;

}
