.welcome {
  padding: 40px;
  text-align: center;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}
.welcome p {
  font-size: center;
  width: 100%;
  font-size: 1.4rem;
}
.welcome span {
  font-size: 1.6rem;
}
h1 {
  font-size: 2.3rem;
}



.contieneLema > p, .lema p, .quienCita p {
  line-height: 100%;
}
.lema {
  display: flex;

  font-weight: 600;
  color: #000000;
}
.lema span{
  color: var(--lila);
}
q {
  width: 100%;
  color: #1A1F35;
  font-weight: 300;
}
.contieneLema {
  padding: 0px 30px 20px 30px;
  background: #BBC4F5;
  width: calc(100% - 60px);
  margin: auto;
  border-radius: 12px;
  padding-top: 20px;
}
.triangle {

  bottom: 0;
  left: 0;
  margin-left: 6vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #BBC4F5 transparent transparent transparent;
  transform: translateY(-5px);

}
.citado {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.quienCita {
  margin-top: 20px;
}
.citaimg img{
  width: 100%;
}
.citaimg {
  height: 70px;
  width: 70px;
  margin-left: 20px;
  margin-right: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px var(--verde1);
}
.quienCita span {
  font-weight: 600;
  /* color: var(--lila); */
}
.quienCita p {
  font-weight: lighter;
}
.img-rot {
  transform: rotate(-24deg);
}
@media only screen and (max-width: 600px) {

}
